# Ejercicio 1

In [4]:
def informes(t1,t2,t3):
    print(f''' Reporte
    Tanque 1: {t1}
    Tanque 2: {t2}
    Tanque 3: {t3}
    Combustible total: {t1+t2+t3}
    Promedio del combustible: {(t1+t2+t3)/3}
    ''')

informes(80,70,85)

 Reporte
    Tanque 1: 80
    Tanque 2: 70
    Tanque 3: 85
    Combustible total: 235
    Promedio del combustible: 78.33333333333333

In [5]:
def promedio(*args):
    aux = 0
    for i in args:
        aux += i

    return aux/len(args)

def reporte_final(t1,t2,t3):
    prom = promedio(t1,t2,t3)
    print(f''' Reporte
    Tanque 1: {t1}
    Tanque 2: {t2}
    Tanque 3: {t3}
    Combustible total: {t1+t2+t3}
    Promedio del combustible: {prom}
    ''')

informes(80,70,85)

 Reporte
    Tanque 1: 80
    Tanque 2: 70
    Tanque 3: 85
    Combustible total: 235
    Promedio del combustible: 78.33333333333333

# Ejercicio 2

In [6]:
def reporte_de_mision(t_lanzamiento, t_viaje, destino, t1, t2):
    return f'''
    Destino: {destino}
    Tiempo de viaje: {t_lanzamiento +t_viaje}
    Combustible total: {t1+t2}
    '''

print(reporte_de_mision(20,15,'Marte',10,30))

    Destino: Marte
    Tiempo de viaje: 35
    Combustible total: 40

In [20]:
def reporte_final(destino, *tiempos, **combustibles_en_tanques):
    
    print(combustibles_en_tanques)
    aux = f'''
    Destino: {destino}
    Tiempo de viaje: {sum(tiempos)}
    Combustible total: {sum(combustibles_en_tanques.values())}
    '''

    for ikey in combustibles_en_tanques.keys():
        aux += f'Combustible en {ikey}: {combustibles_en_tanques[ikey]}\n'
    return aux

print(reporte_final('Marte', 20, 15, principal=200, externo=300))

{'principal': 200, 'externo': 300}

    Destino: Marte
    Tiempo de viaje: 35
    Combustible total: 500
    Combustible en principal: 200
Combustible en externo: 300